<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>descriptioncategoriesfooter</name>
    <displayName><![CDATA[Description Categories Footer in Admin]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Module for admin form hooks for ps 1.7.6 and &gt; ]]></description>
    <author><![CDATA[me]]></author>
    <tab><![CDATA[others]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>